
@model LaughSeenShpi.Models.RoomMembers


<div class="row vh-100 ">
    <div class="col-sm-12 my-auto">
        <form method="post">
            <fieldset>

                <div class="form-group col-sm-9 float-left">
                    <div class="col-sm-12">
                        <label for="exampleInputEmail1" class="form-text" style="font-size:25px">You have join @ViewBag.Room.Name with ID @ViewBag.Room.Name </label>
                    </div>
                    <div class="col-sm-9 float-left">
                        <input type="text" class="form-control" asp-for="@Model.Name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your user name here">
                        <small id="emailHelp" class="form-text text-muted">Enjoy chatting with your friends and your loving ones</small>
                        <input type="hidden" class="form-control" asp-for="@Model.Room" value="@ViewBag.Room" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your user name here">
                    </div>

                    <div class="col-sm-3 float-left">
                        <button type="submit" asp-controller="PickTheUserName" asp-action="Post" class="btn btn-primary col-sm-12">Submit username</button>
                    </div>

                </div>

            </fieldset>
        </form>
    </div>
</div>