@model LaughSeenShpi.Models.RoomMembers

@{ 

    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}




            <div class="container" style="padding:0;margin:0;">
                @*<h3 class=" text-center">@ViewBag.Room.Name      </h3>*@
                <div class="messaging" style="padding:0;margin:0;">








                                        <div class="inbox_msg" style="padding:0;margin:0;height:100vh">

                                            <div class="mesgs col-sm-10" style=" float:left; padding-left:0; padding-right:0;  height:100vh;background-color:black;" id="movie">


                                                    @*<IFRAME SRC="" class="col-sm-12 h-100" style="margin-left:0;margin-right:0"  FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO  allowfullscreen>
                                                    </IFRAME>*@

                                                <video id="movieVideo" muted="muted"  src="@Model.Room.MovieUrl" class="col-sm-12 h-100" style="margin-left:0;margin-right:0; height:100vh;" controls> </video>

                                            </div>



                                            <div class="mesgs col-sm-2" style="float:right;padding:0;margin:0;">
                                                <div class="col-sm-12 text-white font-italic" style="height:5vh;"> <h3 class=" text-center">@Model.Room.Name      </h3>  </div>
                                                <div class="msg_history" id="messageHistoryDiv" style="padding:0;margin:0;">

                           


                                                    @*<div class="col-sm-12 text-white-50 text-sm-center">
                                                        <span><i>Someone paused the video</i> </span>


                                                    </div>*@

                              
                                                    @*<div class="outgoing_msg">
                                   
                                                        <div class="sent_msg">
                                                            <p style="margin-bottom:0">Test1</p>
                                                            <span class="time_date" style="padding-top:0">Test 1</span>
                                                        </div>
                                                    </div>

                                   
                
                                                            <div class="incoming_msg">
                                                                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                                <div class="received_msg">
                                                                    <span class="small"  style="padding-top:0"> Username </span>
                                                                    <div class="received_withd_msg" style="word-wrap:break-word">
                                                                        <p style="margin-bottom:0">Test 1</p>
                                                                        <span class="time_date" style="padding-top:0"> Test 1 </span>
                                                                    </div>
                                                                </div>
                                                            </div>*@

                                        
                                 

                                                </div>
                                                <div class="type_msg">
                                                    <div class="input_msg_write">
                                                        <input type="text" class="write_msg text-white" id="MessageContent" required placeholder="Type a message" />
                                                        <input type="hidden" class="write_msg text-white" id="MessageRoomMemberId" value="@Model.MemberID" placeholder="Type a message" />
                                                        <input type="hidden" class="write_msg text-white" id="MessageRoomMemberName" value="@Model.MemberName" placeholder="Type a message" />
                                                        <input type="hidden" class="write_msg" id="RoomId" value="@Model.Room.ID" placeholder="Type a message" />
                                                        <button type="button" asp-action="Index" id="SendMessageButton" class="msg_send_btn"> <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                </div>





            </div>




